// COLORS
$color-primary-background: #eeeeee;
$color-text-dark: #0a1d37;
$color-text-white: #fff;
$card-color: #76ba99;
$color-btn-blue: #293b5f;
$color-one-more-blue: #064663;
$color-blure-greengray: #b1e1ff;
$color-blure-purpleblue: #afb4ff;
$color-box-shadow: #000000;
$color-gray-light-1: #f7f7f7;
// GRID VAR
$grid-width: 140rem;
$gatter-vertical: 8rem;
$gatter-horizontal: 6rem;
// FONTS
$default-font: 1.6rem;
// TOURS CARDS
$tour-card-color-lightgreen: #7ed56f;
$tour-card-color-darkgreen: #28b485;

$tour-card-color-greengray: #b1e1ff;
$tour-card-color-purpleblue: #afb4ff;

$tour-card-color-yellow: #ffb900;
$tour-card-color-orange: #ff7730;

$tour-card-color-blue: #2998ff;
$tour-card-color-wiolet: #5643fa;

$tour-card-color-pink: #ffccb3;
$tour-card-color-peach: #f29393;

$tour-card-color-gray: #a5c9ca;
$tour-card-color-darkgreen: #395b64;

$tour-card-color-lip: #ca4e79;
$tour-card-color-send: #ffc18e;

$tour-card-color-light: #dfdfde;
$tour-card-color-velvet: #655d8a;

$card-background-blure: linear-gradient(
    to right bottom,
    rgb(106, 116, 106),
    rgb(62, 99, 110)
);
