// COLORS
$color-primary-background: #eeeeee;
$color-text-dark: #0a1d37;
$color-text-white: #fff;
$color-btn-blue: #293b5f;
$color-one-more-blue: #064663;
$color-blure-greengray: #b1e1ff;
$color-blure-purpleblue: #afb4ff;
$color-box-shadow: #000000;
$color-gray-light-1: #f7f7f7;
// GRID VAR
$grid-width: 140rem;
$gatter-vertical: 8rem;
$gatter-horizontal: 6rem;
// FONTS
$default-font: 1.6rem;
