.section-about {
    // background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-blure-greengray, 0.6),
            rgba($color-blure-purpleblue, 0.6)
        ),
        url("../img/lantern.jpg");
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}
