.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-blure-greengray, 0.6),
            rgba($color-blure-purpleblue, 0.6)
        ),
        url("../img/lantern.jpg");
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 10rem 0;
    margin-top: -10rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        $tour-card-color-lip,
        $tour-card-color-send
    );
}

.book {
    background-image: linear-gradient(
            100deg,
            transparent 0%,
            transparent 50%,
            rgba($tour-card-color-light, 0.9) 50%
        ),
        url("../img/street.webp");
    background-size: 100%;
    border-radius: 6px;
    box-shadow: 0 0.5rem 3rem 0.2rem rgba($color-box-shadow, 0.5);

    width: 80%;
    margin: 0 auto;

    height: 50rem;

    &__form {
        float: right;
        width: 50%;
        padding: 6rem;
    }
}
