@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");

body {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: $color-primary-background;

    &::-webkit-scrollbar {
        display: none;
    }
}

.heading-primary {
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6.5rem;
        font-weight: 600;
        letter-spacing: 3rem;
        margin-left: 2.7rem;

        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }

    &--second {
        display: block;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1.3rem;
        animation-name: moveInRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            letter-spacing: 0.5rem;
            font-size: 5rem;
        }
    }
}

.hedding-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(
        to right,
        $color-one-more-blue,
        $color-text-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: scale(1.05);
        text-shadow: 0.5rem 1rem 2rem rgba($color-box-shadow, 0.2rem);
    }
}

.heading-tertiary {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-text-dark;
}
.paragrapf {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
