/* main colours
    light sand: #ECB365     verylight blue: #8FE3CF
    blue-gray: #064663      greengray: #256D85 
    dark-green: #04293A     bluish-gray: #2B4865
    dark-blue: #041C32      deep-blue: #002B5B
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    padding: 30px;
    background-color: #fef1e6;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            rgb(177, 225, 255, 0.5),
            rgb(175, 180, 255, 0.5)
        ),
        url("../img/korea_main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    border: 4px solid #0a1d37;
    padding: 10px;
    border-radius: 8px;
    color: #0a1d37;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 30px;
    margin-left: 25px;

    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
}

.heading-primary-second {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 13px;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}
