.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;

        border: none;
        cursor: pointer;
    }
    &--gray {
        background-color: $color-gray-light-1;
        color: $color-text-dark;
        font-size: 1.3rem;
        font-weight: 700;

        &::after {
            background-color: $color-gray-light-1;
        }

        &:hover {
            transform: translate(0%, 10%);
            box-shadow: 0 1rem 2rem rgba($color-box-shadow, 0.45);
        }

        &:active {
            transform: translate(0%, 12%);
            box-shadow: 0 0.5rem 1rem rgba($color-box-shadow, 0.45);
        }
    }
    &--blue {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-btn-blue;
        color: $color-text-white;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        font-weight: 500;

        &::after {
            background-color: $color-btn-blue;
        }

        &:hover {
            transform: translate(-50%, -53%);
            box-shadow: 0 1rem 2rem rgba($color-box-shadow, 0.45);
        }

        &:active {
            transform: translate(-50%, -51%);
            box-shadow: 0 0.5rem 1rem rgba($color-box-shadow, 0.45);
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &:hover::after {
        transform: scale(1.2);
        opacity: 0;
    }

    &--animated {
        animation: moveInButton 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font;
        font-weight: 500;
        color: $color-text-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-text-dark;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-btn-blue;
        color: $color-text-white;
        font-weight: 500;
        box-shadow: 0 1rem 1rem rgba($color-box-shadow, 0.5);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-box-shadow, 0.5);
        transform: translateY(0);
    }
}
