.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 53rem;

    &__side {
        height: 53rem;
        transition: all 0.9s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-box-shadow, 0.2);
        padding: 10px;

        &--front {
            background-color: $color-text-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-lightgreen,
                    $tour-card-color-darkgreen
                );
            }

            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-greengray,
                    $tour-card-color-purpleblue
                );
            }

            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-yellow,
                    $tour-card-color-orange
                );
            }

            &-4 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-blue,
                    $tour-card-color-wiolet
                );
            }

            &-5 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-pink,
                    $tour-card-color-peach
                );
            }

            &-6 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-gray,
                    $tour-card-color-darkgreen
                );
            }

            &-7 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-lip,
                    $tour-card-color-send
                );
            }

            &-8 {
                background-image: linear-gradient(
                    to right bottom,
                    $tour-card-color-light,
                    $tour-card-color-velvet
                );
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
    // FRONT SITE
    &__picture {
        background-size: cover;
        background-position: center;
        height: 23rem;
        border-radius: 6px;
        background-blend-mode: hard-light;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: url("../img/shopping-1.webp"),
                $card-background-blure;
        }

        &--2 {
            background-image: url("../img/bbq-2.webp"), $card-background-blure;
        }

        &--3 {
            background-image: url("../img/hiking-3.webp"),
                $card-background-blure;
        }

        &--4 {
            background-image: url("../img/nabourhoods-4.webp"),
                $card-background-blure;
        }

        &--5 {
            background-image: url("../img/food-travel-5.webp"),
                $card-background-blure;
        }

        &--6 {
            background-image: url("../img/buddist-tample-6.webp"),
                $card-background-blure;
        }

        &--7 {
            background-image: url("../img/culter-tradition-7.webp"),
                $card-background-blure;
        }

        &--8 {
            background-image: url("../img/bartender-8.webp"),
                $card-background-blure;
        }
    }

    &__heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: right;
        font-weight: 500;
        color: $color-text-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-lightgreen, 0.85),
                rgba($tour-card-color-darkgreen, 0.85)
            );
        }
        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-greengray, 0.85),
                rgba($tour-card-color-purpleblue, 0.85)
            );
        }
        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-yellow, 0.85),
                rgba($tour-card-color-orange, 0.85)
            );
        }

        &--4 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-blue, 0.85),
                rgba($tour-card-color-wiolet, 0.85)
            );
        }

        &--5 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-pink, 0.85),
                rgba($tour-card-color-peach, 0.85)
            );
        }

        &--6 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-gray, 0.85),
                rgba($tour-card-color-darkgreen, 0.85)
            );
        }

        &--7 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-lip, 0.85),
                rgba($tour-card-color-send, 0.85)
            );
        }

        &--8 {
            background-image: linear-gradient(
                to right bottom,
                rgba($tour-card-color-light, 0.85),
                rgba($tour-card-color-velvet, 0.85)
            );
        }
    }

    &__details {
        margin-top: 1rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.2rem;
                padding: 0.4rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__price-box {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__price-only {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 800;
    }

    @include respond(tab-port) {
        height: auto;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1.5rem 4rem rgba($color-box-shadow, 0.2);

        &__side {
            height: auto;
            position: relative;
            padding: 10px;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}

.btn {
    @include respond(tab-port) {
        &--gray {
            margin-left: 9.5rem;
        }
    }
}
