.feature-box {
    background-color: rgba($card-color, 0.85);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 1.5rem 4rem rgba($color-box-shadow, 0.15);
    transition: all 0.2s;

    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: linear-gradient(
            to right,
            $color-one-more-blue,
            $color-text-dark
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.1);
    }
}
